* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: whitesmoke;
}

#lastline{
  margin-top: 95px;
  text-align: center;
  font-size: 90px;

}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 15px 40px;
  background: #111;
  color: white;
}

.nav-right {
  display: flex;
  gap: 20px;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.hero {
  text-align: center;
  padding: 100px 20px;
}

.btn {
  padding: 10px 20px;
  background: black;
  color: white;
  text-decoration: none;
  display: inline-block;
  margin-top: 20px;
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.product-card {
  background: white;
  padding: 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 180px;
  object-fit: contain;
}

button {
  width: 100%;
  padding: 8px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background: #333;
}

@media (max-width: 600px) {
  .controls {
    flex-direction: column;
    gap: 10px;
  }

  .navbar {
    flex-direction: column;
    gap: 10px;
  }
}

