*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body,html{
    background: linear-gradient(90deg, #3d3d3d, #6b6868);
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 70px;
    padding: 10px;
    height: 80%;
    display:flex;
    flex-direction: column;
}
 
.header,
.footer,
.sidebar,
.box{
    display: flex;
    color: #fff;
    font-weight: 600;
    align-items: center;
    padding: 5px;
    border-radius: 6px;
    border: 6px solid #111;
    justify-content: center;
    
}
 
.header,
.footer{
    background: linear-gradient(90deg, #5142b1, #8a6be1);
    margin-bottom:20px;
    height: 600px;
}
 
.layout{
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    margin-bottom: 20px;
    flex: 1;
    align-items: stretch;
 
}
 
.sidebar{
    background: linear-gradient(180deg, #06f0b9, #3ddad7);
    height: 350px;
}
 
.content{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}
 
.box{
    background: linear-gradient(120deg, #1c41e6, #3ddad7);
    min-height:150px;
}
 
.content1{
    grid-column: 1/-1;
}
 
@media (max-width: 768px){
    .layout{
        grid-template-columns: 1fr;
    }
 
    .content-row{
        flex-direction: column;
    }
}